.bg-amber{
    background-color:#FFC107 !important;
}
.bg-black{
    background-color:#000000 !important;
}
.bg-blue{
    background-color:#2196F3 !important;
}
.bg-blue-9{
    background-color:#0D47A1 !important;
}
.bg-brown{
    background-color:#795548 !important;
}
.bg-green-1{
    background-color:#E8F5E9 !important;
}
.bg-green{
    background-color:#4CAF50 !important;
}
.bg-green-6{
    background-color:#43A047 !important;
}
.bg-grey{
    background-color:#9E9E9E !important;
}
.bg-grey-3{
    background-color:#EEEEEE !important;
}
.bg-pink{
    background-color:#E91E63 !important;
}
.bg-purple{
    background-color:#9C27B0 !important;
}
.bg-orange{
    background-color:#FF9800 !important;
}
.bg-red{
    background-color:#F44336 !important;
}
.bg-red-8{
    background-color:#C62828 !important;
}

.bg-teal{
    background-color:#009688 !important;
}
.bg-white{
    background-color:#FFFFFF !important;
}
.bg-yellow{
    background-color:#FFEB3B !important;
}
.color-amber{
    color:#FFC107 !important;
}
.color-black{
    color:#000000 !important;
}
.color-blue{
    color:#2196F3 !important;
}
.color-blue-7{
    color:#1976D2 !important;
}
.color-brown{
    color:#795548 !important;
}
.color-green{
    color:#4CAF50 !important;
}
.color-green-6{
    color:#43A047 !important;
}
.color-grey{
    color:#999999 !important;
}
.color-grey-6{
    color:#777777 !important;
}
.color-grey-8{
    color:#424242 !important;
}
.color-grey-9{
    color:#212121 !important;
}
.color-pink{
    color:#E91E63 !important;
}
.color-purple{
    color:#9C27B0 !important;
}
.color-orange{
    color:#FF9800 !important;
}
.color-red{
    color:#F44336 !important;
}
.color-teal{
    color:#009688 !important;
}
.color-white{
    color:#FFFFFF !important;
}
.color-yellow{
    color:#FFEB3B !important;
}


